body {
  background-color: black;
}
.card-1 {
  background-color: rgb(12, 12, 88);
  border-radius: 4%;
}
.card-1-top {
  background-color: rgb(61, 24, 223);
  margin-bottom: 0;
  border-radius: 4%;
  padding-bottom: 15%;
}
img {
  margin-top: 2%;
}
.content {
  margin-left: 5%;
}
.card-1-bottom {
  padding-bottom: 15%;
  margin-top: 0;
}
.avatar img {
  max-height: 100px;
  max-width: 100px;
  border-radius: 50%;
  border: 4px solid white;
}
.middle {
  color: white;
}
h5 {
  color: blueviolet;
}
h6 {
  color: blueviolet;
  margin-bottom: 0;
}
h1 {
  color: white;
  margin-top: 0;
  text-align: justify;
}
.card-2 {
  border-radius: 4%;
  background-color: rgb(243, 147, 63);
}
.card-2-top {
  min-height: 50px;
  max-width: 100%;
}
.card-2-bottom {
  background-color: rgb(12, 12, 88);
  border-radius: 4%;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 2%;
}
.card-2-bottom-1 {
  color: white;
  display: flex;
  justify-content: space-between;
}
.dots {
  margin-right: 5%;
}
.week {
  padding-bottom: 2%;
}
.card-3 {
  border-radius: 4%;
  background-color: skyblue;
}
.card-4 {
  border-radius: 4%;
  background-color: palevioletred;
}
.card-5 {
  border-radius: 4%;
  background-color: lightgreen;
}
.card-6 {
  border-radius: 4%;
  background-color: blueviolet;
}
.card-7 {
  border-radius: 4%;
  background-color: yellow;
}
.card-container {
  display: flex;
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 5%;
}
.six-cards {
  min-width: 80%;
}
.three-cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-bottom: 2%;
  max-height: 100%;
}
.single-card {
  flex-basis: 25%;
}
.card-2 {
  flex-basis: 20%;
}
.card-3 {
  flex-basis: 20%;
}
.card-4 {
  flex-basis: 20%;
}
.card-5 {
  flex-basis: 20%;
}
.card-6 {
  flex-basis: 20%;
}
.card-7 {
  flex-basis: 20%;
}

@media only screen and (max-width: 700px) {
  .card-container {
    flex-direction: column;
  }
  .three-cards {
    flex-direction: column;
    margin-top: 5%;
  }
}
